@import 'mixins';

@include reset(); // Сброс стилей

@import 'mixingrid';

// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1770px; // Максимальная ширина контейнера
$gutter: 15px; // Расстояние между колонками
$offset: 40px; // Поля контейнера
$offset-sm: 15px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 1400px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 769px;
$break_xs: 500px;

// Шрифты
@include font-face("Muli", "../fonts/Muli/Muli-Regular", normal, normal);
@include font-face("Muli", "../fonts/Muli/Muli-Italic", normal, italic);
@include font-face("Muli", "../fonts/Muli/Muli-Bold", bold, normal);

@include font-face("Wingdings", "../fonts/Wingdings/Wingdings", normal, normal);

// Цвета
// $black: #000;

// Блоки стилей
@import 'blocks/header';
@import 'blocks/welcome';
@import 'blocks/steps';
@import 'blocks/platforms';
@import 'blocks/partners';
@import 'blocks/footer';

/* settings */
html {
  height: 100%;
  &.lock {
    overflow: hidden;
  }
}
a {
  transition: .1s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "Muli", sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 16px;
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
a {
  -webkit-tap-highlight-color: transparent;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
/* /settings */